extends layout

block content
  .container
    .row
      h1= title
      p Let the final judgment begin !
    .row
      .col-sm-6
        .row
          #speedMeter(style="height: 50px;")
        .row
          .col-xs-6(style='text-align: center;')
            a.me-gusta.button.button-3d-action.button-circle ME GUSTA !
          .col-xs-6(style='text-align: center;')
            a.bullshit.button.button-3d-caution.button-circle BULLSHIT !
        .row
          #someHackySpace(style="height: 50px;")
        .row
          #bullshitGauge
      .col-sm-6
        #curve_chart
